PROJECT_NAME=RoleGate

# Django settings
SECRET_KEY=SOME_SECRET_KEY
DEBUG=1
DJANGO_SETTINGS_MODULE=core.settings

# Database settings
DATABASE=postgres
DB_ENGINE=django.db.backends.postgresql
DB_NAME=db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# redis and celery settings
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# AES Cypher key
AES_KEY="Vj3pW756Qrs91KGhZTJJew=="
